html, body {
  position: relative;
  height: 100%;
  font-family: Arial;
}

body{
  background-image: url('../images/bg.png');
  //min-width: 1250px;
}

input, button {
  outline: none;
}

.wrapper-1200{
  margin: auto;
  max-width: 1200px;
  box-sizing: border-box;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  position: relative; }
img {
  max-width: 100%;
}
a:hover {
  img {
    transition: 0.5s;
    transform: translateX(10%);
  }
}
.circles {
  a:hover {
    img {
      transition: 0.5s;
      transform: scale(1.2);
    }
}}